

/*Type Selector*/
h1{
	color: black;
	font-size: 2rem;
}


input{
	border-width: 2px;
	border-color: solid;
}

/*Universal Selector*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*General Sibling and Multiple Selector*/
h2 ~ a, a {
	text-decoration: none;
}

/*Child Selector*/
body > section > form > label {
	display: block;
	margin-top: 10px;
	color: beige;
}

/*Other styling*/
body {
	background-color: beige;
}

html {
	scroll-behavior: smooth;
}


nav {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;

}

div {
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 12;
}


form {
	text-align: center;
}

a {
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

h1{
	text-align: left;
	display: inline-block;
	color: skyblue;	
}

h2{
	text-align: left;
	display: inline-block;
	color: purple;
	height: 500px;
	width: 200px;
}

img{
	height: auto;
	width: 400px;
}

form{
	text-align: left;
	height: auto;
	width: 100px;
	display: flex;
	padding: 10px 25px;
    justify-content: space-between;
}


form + h3{
	text-indent: !important;
}








